.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
android/.gradle
android/captures/
android/app/debug
android/app/profile
android/app/release
.idea/
*.iml
*.lock
*.log
*.tmp
*.swp
*.DS_Store
.macos/
